<div class="row justify-content-center">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div class="text-center lead">
          DESENVOLVIDO POR: VITOR TORESAN.
        </div>
      </div>
      <div class="card-body bg-dark">
        <div class="card">
          <div class="card-body">
            <button  routerLink="/operacoes-binarias" class="btn btn-outline-dark col-12 button-big">
              <h4 class="text-center">CALCULADORA DE BINÁRIOS</h4>
            </button>
          </div>
        </div>
        <div class="card mt-5">
          <div class="card-body">
            <button routerLink="/conjuntos" class="btn btn-outline-dark col-12 button-big">
              <h4 class="text-center">CONJUNTOS</h4>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
